<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## __Objectives__

* List some popular languages ​​used in Data Science
* List some libraries used in Data Science
* Show a table of Data Science tools
* Show some examples of arithmetic operations

 ### Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL

 ###  Some of the commonly used libraries used by Data Scientists include:

1.  NumPy
2.  Pandas
3.  Matplotlib
4.  Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60

m = 200
s = 60
h = m/s
print(h,"hrs")

3.3333333333333335 hrs

## Author
Miguel Miranda